.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  max-width: 35rem;
  @include center-block;
}

.tagline {
  text-align: center;
  background-color: $color-dark-grey;
  color: $color-grey-white;
  padding: 2.3rem 0;
  font-size: 1.39rem;
}

.container {
	max-width: 44rem;
	margin: 0 auto;
}

.page-section {
  p {
    line-height: 1.9;
  }
}
@import "footer";