.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width:52.5625rem) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  & .site-branding {
    max-width: 24rem;
  }
}

.description {
  max-width: 35rem;
  @include center-block;
  @media screen and (max-width: 37.5rem){
    width: 95vw;
  }
}

.tagline {
  text-align: center;
  background-color: $color-dark-grey;
  color: $color-grey-white;
  padding: 2.3rem 0;
  font-size: 1.39rem;
}

.page-section {
  p {
    line-height: 1.9;
  }
}
@import "footer";