button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
	&:link {
		display: inline-block;
		padding: .9rem 2rem;
		border-radius: 3px;
		font-size: 1.2rem;
		background-color: $color-purple-blue;
		color: $color-grey-white;
		line-height: 1.5;
		transition: all .3s;
		text-decoration: none;
		&:hover, &:active {
			background-color: $color-secondary;
			box-shadow: .5rem .5rem .5rem rgba($color-dark-grey, .15);
			transform: translateY(-.5rem); 
		}
	}
	&--blog:link {
		padding: .4rem 1rem;
	}
}