h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Oswald', sans-serif;
}

.main-heading {
	color: $color-dark-grey;
	text-align: center;
	font-size: 2.8rem;
}
.main-heading--1 {
	font-family: 'Montserrat', sans-serif;
}
.main-heading--2 {
	font-family: 'Roboto Condensed', sans-serif;
}
.main-heading--3 {
font-family: 'Slabo 27px', serif;
}

.u-grey-bg {
	background-color: $color-grey;
	color: $color-grey-light;
}

.tagline--heading {
    width: 14rem;
    height: 14rem;
  }