h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Oswald', sans-serif;
}

.main-heading {
	color: $color-dark-grey;
	font-size: 1.8rem;
}
.main-heading--1 {
	font-family: 'Montserrat', sans-serif;
}
.main-heading--2 {
	font-family: 'Roboto Condensed', sans-serif;
}
.main-heading--3 {
font-family: 'Slabo 27px', serif;
}

.u-grey-bg {
	background-color: $color-grey;
	color: $color-grey-light;
}
.u-purple-blue {
	color: $color-purple-blue;
}
.u-purple-blue-bg {
	background-color: $color-purple-blue;
	color: $color-grey-light;
}

.u-center-text {
	text-align: center;
}

.tagline--heading {
    width: 16rem;
    height: 16rem;
  }

  .tagline--box {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }