.hero, #hero {
  height: 80vh;
  background-image: url('images/orange-vitamin-c.jpg)');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__title {
    width: 35rem;
    background-image: linear-gradient(rgba($color-dark-grey, .8), rgba($color-grey, .8));
    color: white;
    padding: 1.7rem;
    box-shadow: 1rem 1rem 1rem black;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    &--heading {
      color: $color-secondary;
      font-weight: 700;
      font-size: 4rem;
      text-shadow: .3rem .3rem .3rem $color-primary;
    }
    
    &--subheading {
      font-size: 2.2rem;
      font-style: italic;
      color: $color-tertiary;
    }
  }


  &__description {
    width: 45rem;
    background-image: linear-gradient(rgba(grey, .9), rgba(goldenrod, .9));
    color: white;
    padding: 1.7rem;
    box-shadow: 1rem 1rem 1rem #000;
    line-height: 1.8;
  }
}

