.homepage-blog {
 
    display: flex;
    .left {
      width: 50%;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;
      background-color: $color-grey;
      color: $color-grey-white;
      font-size: 2rem;
    }
    .right {
      width: 50%;
      padding: 10rem;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  .homepage-section-alternate {
    margin: 2rem 0;
    display: flex;
    .left {
      width: 50%;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;    
      font-size: 2rem;
      .blog {
          display:flex;
          justify-content: flex-end;
          align-items: center;      
          padding-right: 1rem;
          color: $color-grey-white;
        background-color: $color-purple-blue;
        height: 14rem;
        width: 14rem;
      }
    }
    .right {
      width: 50%;
      p {
        max-width: 35rem;
      }
    }
  }

