$color-primary: #6dc8b9;
$color-secondary: #3c52a4;
// Grey Colors
$color-tertiary:#737373; 
$color-grey-white: #F2F2F2;
$color-grey-light: rgba(240, 240, 240, 1);
$color-grey: rgba(172, 162, 152, 1);
$color-grey-hover: rgba(112, 105, 98, 1);
$color-purple-blue: rgba(138, 171, 255, 1);
$color-dark-grey: #555353;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666; 
$color__text-input-focus: #111;
$color__link: $color-dark-grey;
$color__link-visited: $color-dark-grey;
$color__link-hover: $color-grey-light;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

