.menu-main-nav-container {
  #primary-menu {
    li {
      padding: .5rem 1rem;
      border-radius: 3px;
      font-size: 1.12rem;
      @media screen and (max-width: 63.6875rem){
        font-size: .92rem;
        padding: .5 .2rem;
      }
      @media screen and (max-width: 37.5rem){
        float: none;
        width: 100vw;
      }
    }
    .current_page_item {
      background-color: $color__link-hover;
      color: $color__link;
      :hover {
        color: $color-grey-white;
      }
    }
    
    .cta {
      background-color: $color-primary;
      a:link, a:visited {color: white;}
    }
  }

}
.main-navigation {
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  background-color: $color-purple-blue;
  border: 0;
  width: 100vw;
  text-align: left;
  color: $color-grey-white;
  padding: 1.2rem .9rem;
  font-weight: bold;
  
  a:link,a:visited {
    color: $color-grey-white;
  }
  a:hover {
    color: $color-grey-hover;
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
